<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse</title>
</head>
<body>
    <form action="/searchbooks" method="post">
        <input type="text" name="search" id="search">
        <br>
        <input type="submit" value="Search">
    </form>
    <% for( let index = 0; index < books.length; index++ ) { %>
        <div>
            <img src="data:<%= books.MIMETYPE %>;base64,<%= books[index].COVERPATH %>" alt="Book Cover">
            <h2><%= books[index].TITLE %></h2>
            <h4><%= books[index].AUTHOR %></h4>
        </div>
    <% } %>
</body>
</html>